/*Aleksejs portfolio stylesheet */

body{
  margin:auto;
  width: 80%;
}

.jumbotron{
  background-color: white;
}

#top-container {
  border-radius: 5px;
  padding:5px;
  padding-bottom: 0;
  margin:auto;
  border-radius: 2em;
}

.navbar{
  background-color: white;
  border: 0px;
}

#images {
  width: 100%;
  height: auto;
}

footer{
  text-align: center;
}
