/*Aleksejs portfolio stylesheet */

body{
  max-width: 80%;
  margin:auto;
}
.jumbotron{
  background-color: white;
}

#top-container {
  border-radius: 5px;
  padding:5px;
  padding-bottom: 0;
  margin:auto;
  border-radius: 2em;
}
.navbar{
  background-color: white;
}

.column-66 {
  float: left;
  width: 66.66666%;
}

.column-33 {
  float: left;
  width: 33.33333%;
}

#images {
  width: 100%;
  height: auto;
}

footer{
  text-align: center;
}
