/*Aleksejs portfolio stylesheet */

body{
  width: 80%;
  margin:auto;
}

.jumbotron{
  background-color: white;
}

#top-container{
  border-radius: 5px;
  padding:5px;
  padding-bottom: 0;
  margin:auto;
  border-radius: 2em;
}

#new_post{
  width:50%;
  margin:auto;
  border: 1px;
}

#admin_login{
  width:60%;
  margin:auto;
  border: 1px;
}

#postFull{
  min-height: 200px;
}

#contactUs{
  width: 60%;
  margin:auto;
}

.fa {
  padding: 10px;
  font-size: 7px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
}

.navbar{
  background-color: white;
  border-color: white;
}

#images{
  width: 100%;
  height: auto;
}
#heading{
text-align:center;
}
.card{
  padding:15px;
}
footer{
  padding-top: 20px;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  #new_post{
    width:100%;

  }
  
  #admin_login{
    width:100%;

  }
  
  #postFull{
    min-height: 100px;
  }
  
  #contactUs{
    width:100%;

  }
}